.filterSegment {
    display: flex;
    gap: 20px;
    width: 95%;
    margin: auto !important;
    border-radius: 12px;
    padding: 24px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.dropdown {
    margin-bottom: 16px;
}

.barChart {
    margin-top: 20px;
}