.headerRow{
    height: 70vh;
}

.landingText {
    font-size: 42px;
    font-weight: bold;
    color: black;
    line-height: 50px;
    padding: 0 4rem;
    text-align: left;
}

.infoRow{
    height: 15vh;
}

.iconsContainer{
    display: flex !important;
    justify-content: center !important;
}

.iconsWrapper{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.iconsContainer :global(.column) {
    display: flex !important;
    align-items: flex-start !important;
}

.scrollRow{
    height: 10vh;
}

.scrollIcon {
    color: #6682a9;
    cursor: pointer;
    margin: 3px;
}

.cardBox {
    width: 100%;
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    align-items: center;
}