.landingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.description {
    text-align: center;
    margin-top: 1rem;
    font-size: 16px;
    line-height: 1.4;
}

.headerRow{
    height: 60vh;
}

.datasetRow{
    padding: 2rem 0;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingText {
    font-size: 42px;
    font-weight: bold;
    color: black;
    line-height: 50px;
    padding: 0 4rem;
    text-align: left;
}

.infoRow {
    height: auto;
    padding: 2rem 0;
}

.iconsContainer {
    display: flex !important;
    justify-content: center !important;
}

.iconsWrapper {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.iconsContainer :global(.column) {
    display: flex !important;
    align-items: flex-start !important;
}

.scrollRow{
    height: 10vh;
}

.scrollIcon {
    color: #19787882;
    cursor: pointer;
    margin: 3px;
    transition: color 0.4s;
}

@keyframes vibrate {
    0% { transform: translateY(0); }
    25% { transform: translateY(-2px); }
    50% { transform: translateY(2px); }
    75% { transform: translateY(-2px); }
    100% { transform: translateY(0); }
}

.scrollIcon:hover {
    animation: vibrate 1s linear infinite;
    color: #197878;
}

.cardBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.3s, color 0.3s;
    height: 175px;
}

.cardBox:hover {
    transform: translateY(-5px);
    color: #197878;
}

.cardBox p {
    margin-top: 1rem;
    font-size: 16px;
    color: #555;
}

.cardBox :global(.icon) {
    margin-top: 0.5rem;
}

.datasetContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 6rem;
}

.datasetText {
    font-size: 20px;
    color: gray;
    text-align: center;
    line-height: 1.6;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
}
.button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: white;
    color: rgb(25, 120, 120);
    border-radius: 5px;
    border: solid;
    border-color: rgb(25, 120, 120);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: rgb(25, 120, 120);
    color: white;
}

/* Hide landing page content on mobile devices */
@media screen and (max-width: 768px) {
    .headerRow,
    .datasetRow,
    .infoRow,
    .scrollRow {
        display: none !important;
    }
}